@import "../../index.scss";

.partners {
  margin-top: 70px;
  overflow-x: hidden;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(tab-land) {
      flex-direction: column;
    }
    ul {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
      place-items: center;
      @include respond(tab-land) {
        gap: 38px;
      }
      @include respond(small-phone) {
        gap: 0px;
        li {
          img {
            width: 80%;
          }
        }
      }
      li {
        img {
          cursor: pointer;
          filter: grayscale(100%);
          transition: all 0.3s ease;

          &:hover {
            filter: grayscale(0%);
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
  ul.right {
    @include respond(tab-port) {
      padding-top: 20px;
      width: 110%;
      animation: moveMarginRight 10s infinite;
      @keyframes moveMarginRight {
        0% {
          margin-right: 0px;
        }
        50% {
          margin-right: 150px;
        }
        100% {
          margin-right: 0px;
        }
      }
    }
  }
  ul.left {
    @include respond(tab-port) {
      width: 110%;
      li:first-child {
        margin-left: 17px;
      }
      animation: moveMarginLeft 10s infinite;
      @keyframes moveMarginLeft {
        0% {
          margin-left: 0px;
        }
        50% {
          margin-left: 90px;
        }
        100% {
          margin-left: 0px;
        }
      }
      li {
        gap: 100px;
      }
    }
  }

  @include respond(tab-port) {
    margin-top: 60px;
  }
}
