@import "../../index.scss";

.partners {
  margin-top: 70px;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(tab-land) {
      flex-direction: column;
    }
    ul {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
      // gap: 10px;
      place-items: center;
      // grid-auto-flow: row;
      // display: flex;
      // justify-content: space-between;

      // align-items: center;
      // gap: 95px;
      overflow-x: hidden;

      @include respond(phone) {
        gap: 38px;
      }
      @include respond(tab-land) {
        // grid-template-columns: repeat(3, 150px);
        // grid-template-rows: repeat(2, 1fr);
        // // gap: 0 37px;
        // gap: 0;
      }
      li {
        img {
          cursor: pointer;
          filter: grayscale(100%);
          transition: all 0.3s ease;

          &:hover {
            filter: grayscale(0%);
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
  ul.right {
    @include respond(phone) {
      padding-top: 20px;
      width: 110%;
      margin-right: 100px;
    }
  }
  ul.left {
    @include respond(phone) {
      width: 110%;
      margin-left: 90px;
      li:first-child {
        margin-left: 17px;
      }
    }
  }

  @include respond(tab-port) {
    margin-top: 60px;
  }
}
