@import "../../index.scss";

.studies {
  margin-top: 163.5px;
  &__container {
    .studies__content {
      display: grid;
      gap: 64px;
      grid-template-columns: repeat(3, 1fr);
      padding: 70px 60px;

      margin-top: 85px;
      border-radius: 45px;
      background: var(--black);

      @include respond(tab-land) {
        margin-top: 40px;
        padding: 0;
        gap: 20px;
        background: var(--white);
        grid-template-columns: repeat(3, 350px);
      }
      .content__item {
        @include respond(tab-land) {
          padding: 42px 50px;
          background: var(--black);
          border-radius: 45px;
        }
        a {
          cursor: pointer;
          padding-top: 20px;
          display: flex;
          p {
            font-size: 20px;
          }
        }
        p {
          color: var(--white);
        }
        &:first-child {
          padding-right: 64px;
          border-right: 1px solid var(--white);
        }
        &:last-child {
          padding-left: 64px;
          border-left: 1px solid var(--white);
        }
      }
    }
  }
}
