@import "../../index.scss";

.testimonials {
  margin-top: 100px;

  &__container {
    position: relative;

    .content {
      margin-top: 85px;
      padding: 84px 0px 68px 0px;
      align-items: center;
      border-radius: 45px;
      background: var(--black);

      &__item {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          color: var(--white);
        }

        .top {
          max-width: 502px;
          padding: 48px 52px 51.95px 52px;
          border: 1px solid var(--inchworm);
          border-radius: 45px;
          display: flex;
          justify-content: center;
          @include respond(phone) {
            max-width: 270px;
            padding: 30px 30px 32.28px 30px;
          }
          &:hover + .bottom h5 {
            transition: all 0.3s ease-out;
            transform: rotate(2deg);
          }
        }
        .bottom {
          margin-top: 48.05px;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          .polygon {
            position: absolute;
            bottom: 70px;
            left: 94px;
            @include respond(tab-port) {
              bottom: 66px;
              left: 32%;
            }
            @include respond(phone) {
              bottom: 67px;
              left: 27%;
            }
          }
          .name {
            font-size: 20px;
            color: var(--inchworm);
          }
        }
      }
      .pagination {
        padding-top: 124px;

        max-width: 502px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        img {
          cursor: pointer;
        }
        .stars {
          display: flex;
          img {
            margin-right: 19px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        @include respond(phone) {
          max-width: 300px;
          padding-top: 60px;
        }
      }
      @include respond(phone) {
        margin-top: 40px;
        padding: 30px 0px 60px 0px;
      }
    }
  }

  @include respond(phone) {
    margin-top: 60px;
  }
}
